In [1]:
import pandas as pd

In [12]:
tips_df = pd.read_csv('/content/tips.csv')
print(tips_df.head(10))

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [4]:
total_bill = tips_df['total_bill']
tip = tips_df['tip']

In [5]:
mean_total_bill = total_bill.mean()
mean_tip = tip.mean()

In [7]:
#slope (b1) of the regression line
numerator = ((total_bill - mean_total_bill) * (tip - mean_tip)).sum()
denominator = ((total_bill - mean_total_bill) ** 2).sum()
b1 = numerator / denominator

In [9]:
#intercept (b0) of the regression line
b0 = mean_tip - (b1 * mean_total_bill)

In [13]:
total_bill_input = float(input("Enter the bill amount to predict the tip ampount: "))
predicted_tip = b0 + (b1 * total_bill_input)
print(f"Predicted tip for a total bill of $15: ${predicted_tip:.2f}")

Enter the bill amount to predict the tip ampount: 14
Predicted tip for a total bill of $15: $2.39